<br />
<div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Enter Color"
  />
</div>

<div class="list-group">
  <button class="btn btn-success" routerLink="color/add">Add Brand</button>

  <a
    href="#"
    [class]="getAllColor()"
    routerLink="/cars"
    aria-current="true"
    (click)="setAllColor()"
  >
    All Colors
  </a>
  @for (item of colors | filterColor:filterText; track item.colorId) {
  <a
    href="#"
    [class]="getCurrenColor(item)"
    routerLink="/cars/color/{{ item.colorId }}"
    (click)="setCurrentColor(item)"
    >{{ item.colorName }}</a
  >
  }
</div>
