<br />
<div class="mb-3">
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="Enter Brand"
  />
</div>

<div class="list-group">
  <button class="btn btn-success" routerLink="brand/add">Add Brand</button>
  <a
    href="#"
    [class]="getAllBrands()"
    aria-current="true"
    routerLink="/cars"
    (click)="nullCurrentBrand()"
  >
    All Brands
  </a>
  @for (item of brands | filterBrand:filterText; track item.brandId) {
  <a
    href="#"
    (click)="setCurrentBrand(item)"
    [class]="getCurrentBrand(item)"
    routerLink="/cars/brand/{{ item.brandId }}"
    >{{ item.brandName }}</a
  >
  }
</div>
