<div class="container" style="position: relative; left: 270px">
  <div class="card" style="width: 18rem">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        @for (item of carImages; track item;let i=$index) {
        <div class="carousel-item active" [class.active]="i == 0">
          <img
            [src]="apiImage + item.imagePath"
            class="d-block w-100"
            alt="..."
            style="height: 200px"
          />
        </div>
        }
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ selectedCar?.carName }}</h5>
      <p class="card-text">Arabanın Özellikleri</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Marka</b> | {{ selectedCar?.brandName }}
      </li>
      <li class="list-group-item">
        <b>Renk</b> | {{ selectedCar?.colorName }}
      </li>
      <li class="list-group-item">
        <b>Günlük Fiyat</b> |
        {{ selectedCar?.dailyPrice | currency : "₺" : "symbol" : "1.2-2" }}
      </li>

      <li style="text-align: center" class="list-group-item">
        <button class="btn btn-success mt-1 mb-1">Kirala</button>
      </li>
    </ul>
  </div>
</div>
