@if (selectedCar) {
<div class="container" style="position: relative; left: 250px">
  <div class="card" style="width: 18rem">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        @for (item of carImages; track item;let i=$index) {
        <div class="carousel-item active" [class.active]="i == 0">
          <img
            [src]="apiImage + item.imagePath"
            class="d-block w-100"
            alt="..."
            style="height: 200px"
          />
        </div>
        }
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ selectedCar.carName }}</h5>
      <p class="card-text">Arabanın Özellikleri</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Marka</b> | {{ selectedCar.brandName }}
      </li>
      <li class="list-group-item"><b>Renk</b> | {{ selectedCar.colorName }}</li>
      <li class="list-group-item">
        <b>Günlük Fiyat</b> |
        {{ selectedCar.dailyPrice | currency : "₺" : "symbol" : "1.2-2" }}
      </li>
    </ul>
  </div>
</div>
} @else {
<br />
<div class="mb-3">
  <div class="row">
    <div class="col-3">
      <input
        type="text"
        [(ngModel)]="filterText"
        class="form-control"
        id="filterText"
        placeholder="Search Car"
      />
    </div>
    <div class="col-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Brand</option>
        <option value="1">One</option>
      </select>
    </div>
    <div class="col-3">
      <select class="form-select" aria-label="Default select example">
        <option selected>Select Color</option>
        <option value="1">One</option>
      </select>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary">Filter</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary">Clear</button>
    </div>
  </div>
</div>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">CarName</th>
      <th scope="col">Brand</th>
      <th scope="col">Color</th>
      <th scope="col">Model Year</th>
      <th scope="col">Daily Price</th>
    </tr>
  </thead>
  <tbody>
    @for (item of cars| filterCar:filterText; track item) {
    <tr (click)="selectCar(item)" routerLink="/cars/detail/{{ item.carId }}">
      <td>{{ item.carName }}</td>
      <td>{{ item.brandName }}</td>
      <td>{{ item.colorName }}</td>
      <td>{{ item.modelYear }}</td>
      <td>{{ item.dailyPrice | currency : "TRY" : "symbol" : "1.2-2" }}</td>
    </tr>
    }
  </tbody>
</table>
}
