<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title text-center">Renk Ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="colorAddForm">
          <div class="form-group mb-4">
            <label for="name">Yeni Renk:</label>
            <input
              type="text"
              id="name"
              formControlName="colorName"
              class="form-control"
              placeholder="Renk"
              required
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-info">Geri dön</button>
        <button
          class="btn btn-success"
          style="float: right"
          (click)="colorAdd()"
        >
          Ekle
        </button>
      </div>
    </div>
  </div>
</div>
